{% extends 'address_books/base.html' %}

{% block content %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3>
        {{ address }}
        <small>
            <a href="{% url 'address_books:edit_address' address.id %}">
               - edit address </a>
            <a href="{% url 'address_books:delete_address' address.id %}">
               - delete address</a>
          </small>
      </h3>
    </div>
    <div class="panel-body">
      {{ address.street_address|linebreaks }}
      <a href="tel:{{ address.phone_number}}">{{ address.phone_number}}</a><br>
      <a href="mailto:{{ address.email_address }}">{{ address.email_address }}</a>
      </ul>
    </div>
  </div>
  <!-- panel -->
</ul>
{% endblock content %}